*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
*.sublime-project
*.sublime-workspace
*.swp
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
docs/

fuel/app/config/crypt.php
fuel/app/logs/ffmpeg.log.*
public/uploads/

fuel/app/config/development/db.php
fuel/app/config/development/migrations.php

public/dev/assets/videos/
public/dev/uploads/
public/assets/videos/
public/featured_videos/

fuel/app/config/local/
public/.htaccess-local


