*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
*.sublime-project
*.sublime-workspace
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea
docs/

fuel/app/config/crypt.php
public/uploads/

fuel/app/config/development/db.php
fuel/app/config/development/migrations.php