/* forgot password css */
#container .main-container{
    background:#f1f1f1;
    margin:0px;
    padding:70px 0;
}
#container .main-container .inner-container{
    width:746px;
    margin:0px auto;
}
#container .main-container .inner-container{
    background:#fff;
}
#container .main-container .inner-container .top-title .main-title{
    font-size:19px;
    font-weight:bold;
    margin-top:10px;
    margin-left:10px;
}
#container .main-container .inner-container .top-title hr{
    margin:8px 0 15px 0;
}
#container .main-container .inner-container .top-title .black-bg{
    background:#000;
    color:#fff;
    padding:5px 10px;
    padding-bottom:0px;
}
#container .main-container .inner-container .top-title .black-bg p{
    font-family: Myriad Pro, sans-serif;
    font-size: 18px;
}
#container .main-container .inner-container .reset-pass-container{
    padding: 5px 15px;
}
#container .main-container .inner-container .reset-pass-container p.title{
    font-size:24px;
    font-weight:bold;
}
.gray{
    color:#787878;
    font-weight: bold;
}
#container .main-container .inner-container .reset-pass-container input[type=text]{
    width: 250px;
    float:left;
    margin:0 5px;
}
#container .main-container .inner-container .reset-pass-container p.input-holder{
    margin-top:30px;
}
#container .main-container .inner-container .reset-pass-container button{
    margin-left:95px;
}
#container .main-container .inner-container .reset-pass-container form span.frm-bottom-label{
    color:#787878;
    margin:5px 0 0 5px;
    font-weight: bold;
}
#container .main-container .inner-container .reset-pass-container p span{
    margin-top:5px;
}
span .astriek{
    margin-top:10px;
}
.btn-black{
    background: #000000;
    border:none;
    border-radius:2px;
    padding:5px 10px;
    color:#fff;
    font-weight:bold;
}
.bottom-white-wrap{
    padding:20px 0;
}
.bottom-white-wrap p{
    font-size: 23px;
    line-height:23px;
    margin-bottom:0;
}
.bottom-white-wrap button{
    margin-top:-5px;
    font-size:15px;
    margin-left:5px;
}

.error{
    margin-left: 100px;
    clear: both;
}

