
#videos-container{
    background: url('../../img/contest/contest-mainbg.jpg') no-repeat;
    background-size: 100%;
    padding:0;
    margin:0;
}

.enter-link{
    position: absolute;
    bottom:50px;
    left:180px;
    background: rgba(56,56,56,.5);
    padding:5px 15px;
    color:#fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
}
.enter-link:hover{
    text-decoration: none;
    background: rgba(56,56,56,.9);
    color:#fff;
}

#videos-container .inner-wrapper{
    width:100%;
    margin:0 auto;
    padding:80px 0px;

}
#videos-container .inner-wrapper .vid-con{
    width: 390px;
    height: 390px;
    margin-left:20px;
    margin-right:20px;
    position: relative;
}
#videos-container .inner-wrapper .model-con{
    width: 390px;
    height: 390px;
    margin-left:550px;
    position: absolute;
}
.enter-link{
    position: absolute;
    bottom:50px;
    left:180px;
    background: rgba(56,56,56,.5);
    padding:5px 15px;
    color:#fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: bold;
}
.enter-link:hover{
    text-decoration: none;
    background: rgba(56,56,56,.9);
    color:#fff;
}
.contest-winner{
    width:100%;
    height:64px;
    background-color:#e3e3e3;
    box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
    -webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
    -moz-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;
    -o-box-shadow: inset 0px 0px 10px 0px #ABABAB,5px 5px 5px 1px #DDDDDD;

}
.slide-show{
    width:100%;
    height:198px;

    background-color:#161616;
}
.slide-show #left-arrow-contest{
    margin-left:20px;
    padding-top:50px;
    float:left;
}
.slide-show .all-image{
    width:1106px;
    float:left;
    margin-left:20px;
    margin-top:20px;
    height:165px;
    float:left;


}
.slide-show .all-image #left-image{
    height:163px;
    width:353px;
    float:left;
}
.slide-show .all-image #middle-image{
    height:163px;
    width:353px;
    margin-left:15px;
    float:left;
}
.slide-show .all-image #right-image{
    margin-left:15px;
    float:left;
}
.slide-show #right-arrow-contest{

    padding-top:50px;
    float:left;
}
.contest-winner #row-winer{
    float:right;
    margin-right:150px;
    margin-top:20px;
}
.contest-winner #row-winer a{
    font-size: 13.5px;
    font-family: "Arial";
    color: rgb( 255, 0, 0 );
    font-weight: bold;
    text-transform: uppercase;
    -moz-transform: matrix( 0.99784176299311,0,0,1,0,0);
    -webkit-transform: matrix( 0.99784176299311,0,0,1,0,0);
    -ms-transform: matrix( 0.99784176299311,0,0,1,0,0);
    text-decoration:none;

}
.contest-gallery{

    width:100%;
    min-height:400px;
    background-color:#f1f1f1;
    padding-left:100px;
}

.contest-gallery .date-gallery #date{
    height:30px;
    padding-top:40px;
    width:1100px;

    border-bottom:1px solid #e3e1e1;
}
.contest-gallery .date-gallery #date a{
    font-size: 26px;
    font-family: "Arial";
    color: rgb( 39, 39, 39 );
    font-weight: bold;

}
.winner-share-gallery #winner-share {

}

div#center{
    min-width: 1140px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}
div#content{
    background: rgb(9,9,9);
    width: 984px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 10px;

}

div#center h2 span {
    display: inline;
}
.container {
    width: 100%;
    background-color: rgb(20,20,20);
    background-size: 100%;
    margin-left: auto;
    margin-bottom: 60px;
}

.container .header-slider {
    width: 858px;
    height: 220px;
    margin-left: 270px;
    margin-top: 30px;
}

.container .header-slider #left {
    margin-top: 63px;
    float: left;

}

.container .header-slider #right {
    margin-top: 63px;
    float: right;

}

.container .header-slider #main-image {
    width: 760px;
    float: left;

}


#more-video p{
    cursor:pointer;
}
#visible-top-videos {
    float: left;
    overflow: hidden;
    width:762px;
    height:230px;
    margin-left:0px;
}
#top-videos-items {
    position: relative;
    margin-top:10px;
    overflow: hidden;
    width: 4000px;
    height:230px;

}
#main-image img{
    width:762px;
    height:224px;
}

.content-box img{
    /*    width: 225px;
        height: 150px;*/
}
#vspng{
    /*padding-left:10px;*/
/*    padding-right:10px;*/
    display: inline-block;
    margin-top: 60px;
    
}
#vspng img{;
    display: inline-block;
    zoom: 80%;
    padding-left: 25px;
}

#advert-description {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    /*height: 40px;*/
}

#advert-description p {
    padding-top: 18px;
    padding-left: 0px;
    font-size: 20px;
    font-type: Arial;
    font-weight: bold;
    border-left: solid 5px #FF0606;
    margin: 0 0 5px 0;
    padding: 5px 10px;
}

#advert-description span {
    color: red;
}

#advert-description ins {
    float: right;
    text-decoration: none;
}
.preview-reader {
    left: 75px;

}
.like-reader {
    left: -75px;

}
.share-reader{
    background-color: #000000;
    max-width: 30px;
    height: 30px;
    font-weight: bold;
    position: relative;
    top: -31px;
    z-index: 3;
    color: #ffffff;
    overflow: hidden;
    left: -90px;
}
.real-video {
    width: 210px;
}
.real-video img {
    width: 210px;
}
.model-name {
    top: -55px;
    text-align: left;
    /*padding-left: 10px;*/
    text-transform: uppercase;
}

.user-name-duration{
    top: -55px;
    text-align: left;
    /*padding-left: 10px;*/
    font-size: 12px;
}
.user-name-duration .model-name{
    font-weight: bolder;
}
.user-name-duration .how-long{
    padding-right: 10px;
}
.votes-count{
    display: block;
    width: 220px;
}
.votes-count .vote-btn{
    float: right;
    max-height: 25px;
    padding-right: 10px;
}
.votes-count .vote-btn input{
    color: #fff;
    background: #F00;
    width: 70px;
    height: 25px;
    font-size: 12.5px; 
    font-weight: bold;
}
.votes-count .vote-text{
    float: left;
    text-align: left;
    /*padding-left: 10px;*/
    padding-top: 4px;
}
.videos{
    height:175px;
    width: 210px;
}

.table-view{
    width: 960px;
    margin: auto;
}
.table-view table{
    margin-top: 8px;
}
.table-view td{
    float: left;
}
.content-box{
    width: 190px;
}
.title{
    margin-bottom: 10px;  
    margin-top: 10px;
    color: #fff;
    border-bottom: 1px solid rgb(45,45,45);  
}
 hr.divider{
    margin-top: 15px;
    border:2px solid red;
}
 hr.votedivider{
    margin-top: 0px;
    margin-bottom: 0px;
    border:2px solid red;
}
p.main-title, .title p.right-title{
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:15px;
}
.title p.right-title{
    font-family:Arial, sans-serif;
    font-size:14px;
}

.title hr.divider{
    margin: 0px;
    border-color:#e3e3e3;
    border:1px solid #dddbdb;
}
p.header-text{
    color:#757575;
    font-family:Arial, sans-serif;
    font-size:10px;
}

.title hr.thin-divider{
    margin-bottom:0;
    border-color:#dddbdb;
    border-bottom:none;
}
.separator{
margin-bottom:50px;
}
.info{
    margin-top: 15px;
    margin-left: 300px;
}
.info p{
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:14px;

}