
#home-container {
    background-color: #f1f1f1;
    min-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4px;
}

#home-left-top-scroller {
    margin-left: 34px;
    top: 170px;
    position: relative;
}

#home-top-playlist {
    margin-top: -85px;
}

#home-top-playlist p {
    font-type: Arial;
    font-size: 12px;
}

#home-top-playlist span {
    color: #ff0000;
}

#home-money-advertisment {
    background-color: #ffffff;
}

#home-learnmore {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
	height:140px;
  background-repeat: no-repeat;
}

/* #home-learnmore p {
    padding-left: 0px;
    font-type: Myriad Pro;
    font-size: 30px;

} */

#home-learnmore img {
    padding-top: 20px;

}

#home-money {
    margin-left: 830px;
    margin-top: -130px;
    width: 980px;
  height:140px;
}
#home-middle-playlist>div:first-child p,.home-middle-playlist>div:first-child p {
    float: left;
    font-size: 20px;
}
#scroller-container{
    position: relative;
}
#home-middle-left-scroller,.home-middle-left-scroller{
    position: absolute;
    top: 100px;
    left:0;
}
#home-middle-right-scroller,.home-middle-right-scroller{
    position: absolute;
    top: 100px;
    right:0;
}

#home-date {
    padding-top:30px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;

}
span.red-line{
    border-left: 4px solid red;
    margin-right:5px;
}
#home-date p {
    font-type: Arial;
    font-size: 22.49px;
}

#home-videos-row {
    width: 1018px;
    margin-left: auto;
    margin-right: auto;
}

#home-left-top-scroller {
    margin-left: -110px;
    top: 100px;
    position: relative;
}

#home-left-top-scroller:hover {
    cursor: pointer;
}

#home-top-playlist {
    margin-top: 4px;
    height: 400px;
}

#home-top-playlist p {
    font-type: Arial;
    font-size: 12px;
    color: white;
    padding-top: 30px;
    padding-left: 150px;
}

#home-top-playlist span {
    color: #ff0000;
}
.main-video{
    float: left;
    width: 50%;
    height: 400px;
    border: 2px solid rgb(20,20,20);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.mini-video{
    float: left;
    position:relative;
    width: 25%;
    height: 200px;
}
.mini-video span.play{
    position:absolute;
    width: 50px;
    height: 50px;
    top: 80px;
    left: 135px;
}
.mini-video>div, .main-video>div{
    height: 100%;
    width: 100%;
}

#home-right-top-scroller {
    float: right;
    margin-top: 100px;
    position: relative;
    left: 110px;
}

#home-right-top-scroller:hover {
    cursor: pointer;
}

#home-money-advertisment {
    background-color: #ffffff;
}

#home-learnmore {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding-top: 23px;
}

/* #home-learnmore p {
    padding-left: 0px;
    font-type: Myriad Pro;
    font-size: 30px;

} */
#home-learnmore  ul{
width:600px;

height:80px;
}
#home-learnmore  ul li{
float:left;
padding-right:40px;	
font-weight:bold;
}
#home-learnmore #hip-hop-office {
font-size:18px;
font-weight:bold;
color:#ff0000;
margin-left:15px;
padding-bottom:8px;
}
#home-learnmore img {
    padding-top: 20px;
	margin-top:-40px;
   margin-left:10px;
}

#home-money {
    margin-left: 730px;
    margin-top: -137px;
}

#home-middle-playlist{
    background-color: rgb(38,38,38);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 130px;
    color: #fff;
    height: 220px;
}
.home-middle-playlist {
    background-color: rgb(38,38,38);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    color: #fff;
    height: 220px;
}
#home-middle-playlist>div,.home-middle-playlist>div{
    text-align: center;
}
#home-middle-left-scroller,.home-middle-left-scroller, #home-middle-right-scroller,.home-middle-right-scroller{
    width: 5%;
}
#scroller-container,.scroller-container {
    margin-left: auto;
    margin-right: auto;
}
.home-middle-playlist{
    padding: 30px;
}
.home-middle-playlist h4{
    margin: 10px 120px 0;
}
#home-middle-player,.home-middle-player {
    margin-left: 35px;
    margin-top: -45px;
    width: 100%;
}
#home-middle-player .ad-image{
  margin-left: 0;
}

#home-date {
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#home-date p {
    font-type: Arial;
    font-size: 22.49px;
}

.home-video1 {
    background-color: #ffffff;
    width: 310px;
    height: 335px;
    float: left;
    margin-right: 17px;
    margin-top: 37px;

}

#home-banners-row {
    margin-bottom: 20px;
    width: 1018px;
}
#home-videos-row #home-banners-row{
    margin-left: -26px;
}
#banner-coca {
    float:right;
    width: 48%;
    height: 216px;
    margin-bottom: 20px;
}

#banner-gitar {
    width: 48%;
    float:left;
    height: 216px;
    margin-bottom: 20px;
}
#banner-coca img, #banner-gitar img{
  width: 100%;
  height: 100%;
  border: 13px solid #000000;
}

#home-view-more {
    margin-top: 40px;
    text-align: center;
}

#home-view-more p {
    font-size: 18px;
    font-type: Myriad Pro;
    text-align: center;
}

#home-view-more p {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    width:200px;
    margin:auto;
}

#home-upload-wrap {
    margin-top: 10px;
    background-color: #ffffff;
}

#home-upload {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#home-upload p {
    font-size: 25px;
    font-type: Myriad Pro;
    padding-top: 15px;
}

#home-upload p span {
    color: #ff0000;

}

#home-upload button {
    width: 184px;
    height: 39px;
    color: #ffffff;
    background-color: #000000;
    margin-left: 20px;
}

.home-images1 {
    padding-left: 6px;
    width: 298px;
    height: 178px;
}

.home-images1 img {
    width: 298px;
    height: 178px;
}

.home-video1 p,
.home-video1 h4 {
    padding-left: 10px;
}

.home-video1 p:first-of-type {
    padding-top: 15px;
    font-size: 14px;
    font-type: Arial;
}

.home-video1 h4 {
    padding-top: 18px;
    font-type: Arial;
    font-size: 14px;
}

.home-video1 p:nth-of-type(2) {
    padding-top: 13px;
    font-size: 9px;
    font-type: Arial;
}

.home-video1 p:nth-of-type(3) {
    padding-bottom: 14px;
    font-size: 9px;
    font-type: Arial;
    color: #919191;

}

.home-video1 p:first-of-type span {
    font-size: 7px;
    font-type: Arial;
    color: #888888;
}

.home-video1 span#share-plus {
    position: relative;
    left: 188px;
}

.home-video2 span#share-plus {
    position: relative;
    left: 174px;
}

.home-video6 span#share-plus {
    position: relative;
    left: 90px;
}

#home-top-row {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#home-bottom-row {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#banner-container {
    width: 100%;
}

/* video row style override */
.videos {
    width: 235px;
    margin-right: 15px;
    margin-bottom: 20px;
    position: relative;
	/*height:260px;*/
}

#home-videos-row div:nth-child(4n) {
    #margin-right: 0px;
}
#home-videos-row span.play{
    position:absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 95px;
}

.real-video img {
    width: 235px;
}

.real-video {
    #width: 310px;
}

.preview-reader {
    left: 175px;
}

.is-splash.flowplayer .fp-ui, .is-paused.flowplayer .fp-ui {
    background: url(http://hiphopraw.com/assets/js/flowplayer/skin/img/play_red.png) center no-repeat;
    background-size: 12%;
}
.home-white-wrapper{
    background: transparent;
    width: 80%;
    margin: 60px auto 30px;
    padding-left:10px;
    padding-bottom: 20px;
    color: #ffffff;
}
.home-white-wrapper h3, #home-middle-playlist h4,.home-middle-playlist h4{
    border-bottom: 2px solid rgb(62,62,62);
}
#abc #popupContact {
position:absolute;
width:600px; 
height:80%;
left:50%;
top:100px;
margin-left:-202px;
font-family:Raleway,sans-serif;
}
.ad-image-2{
    width: 180px;
    height: 138px;
    float: left;
    margin-left: 50px;
}
#abc{
width:100%;
 z-index:100000000000;
 height:1000%;
 opacity:.95;
 top:0;
 left:0;
 display:none;
 position:absolute;
 background-color:#313131;
 overflow:auto;

}
#popupContact #close{
position:absolute;
right:-60px;
top:0px;
cursor:pointer;
}
 #enternal-popup{
background-color:#fff; 
width:750px;
 height:630px;
 padding:20px 0px;
 margin:10px -120px;

 border-radius:5px 5px 0 0;
}
 #enternal-popup #pop-header{
height:45px; 
width:750px; 
background-color:red;

 margin:-20px 0px;
 text-align:left; 
 border-radius:5px 5px 0 0;
}
 #pop-header #left-pop-text{ 
  float:left;
   margin-top:10px;
   margin-left:10px;
  }
  #pop-header #left-pop-text p{   
font-weight:bold;
  font-size:18px;
   color:#fff;
}
 #pop-header #right-pop-text { 
  background-color:#000;
  margin-top:5px;
  padding-top:7px;
  padding-left:10px;
  float:right;
  width:400px;
  height:27px;
 }
 #pop-header #right-pop-text p { 

  font-size:16px;
  float:left;
  
   }
.popup-text-instruct{


}
 .popup-text-instruct #instruct {  
 float:left;
 width:419px;
 padding:10px;
 border-bottom:1px solid #d8d8d8;
 
 }
  .popup-text-instruct #instruct p{
  float:left;
  font-size: 20px;
  font-family: "Arial";
  color: rgb( 9, 9, 9 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.978;
  
  -webkit-transform: matrix( 0.88915850696211,0,0,0.88915850696211,0,0);
  -ms-transform: matrix( 0.88915850696211,0,0,0.88915850696211,0,0);

}
.popup-text-instruct #instruct2{
  float:left;
 width:424px;
 
 padding-top:10px;
 padding-left:10px;
  
  }
.popup-text-instruct #instruct2 p{
  float:left;
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 0, 0, 0 );
  line-height: 1.214;
  -moz-transform: matrix( 1.00552200828899,0,0,1.00552200828899,0,0);
  -webkit-transform: matrix( 1.00552200828899,0,0,1.00552200828899,0,0);
  -ms-transform: matrix( 1.00552200828899,0,0,1.00552200828899,0,0);
 }
 .image-right-pop{
  width:300px;
  height:380px;
  background-color:#000;
  margin-left:440px;
  margin-top:30px;
  padding-top:50px;
  padding-right:3px;
  padding-left:3px;
 border-radius:5px 5px 0 0;

  }
.image-right-pop #images-pop{
border-bottom:2px solid #fff;
padding-bottom:10px;
 float:left;
}
.image-right-pop #join-hip-pop{
float:left;
padding-top:15px;
}
.image-right-pop #join-hip-pop ul {

width:300px;
  font-size: 12px;
  font-family: "Arial";
  color: rgb( 255, 255, 255 );
    -webkit-transform: matrix( 0.71061572730949,0,0,0.70763253730871,0,0);
  -ms-transform: matrix( 0.71061572730949,0,0,0.70763253730871,0,0);
}
.image-right-pop #join-hip-pop ul li {
padding-bottom:4px;
}
.image-right-pop  #pop-button{
width:250px;
padding:10px;
padding-left:25px;
margin:10px;
margin-top:25px;
height:30px;
float:left;
 background-color: #ff0000;
 border-radius:5px 5px 5px 5px;

}
.image-right-pop #pop-button p{
float:left;

  font-size: 19.049px;
  font-family: "Arial";
  
  font-weight: bold;
    -webkit-transform: matrix( 0.92135822612608,0,0,0.92135822612608,0,0);
  -ms-transform: matrix( 0.92135822612608,0,0,0.92135822612608,0,0);
 
}
#last-text-pop{
float:left;
padding-left:10px;
}
#last-text-pop p {
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 0, 0, 0 );
  line-height: 1.214;
  
}
.font-size-pop {
 font-weight:bold;
  font-size: 14px;
  font-family: "Arial";
  color: rgb( 0, 0, 0 );
  line-height: 1.214;
  -webkit-transform: matrix( 1.00552200828899,0,0,1.00552200828899,0,0);
  -ms-transform: matrix( 1.00552200828899,0,0,1.00552200828899,0,0);

}

#join-hip-pop-row{
cursor:pointer;
}
.real-video-home{
  height: 100%;
  width: 100%;
}

.real-video span.play{
    position:absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    left: 95px;
}
